extends layout/email-template
block vars
	- title = "Tiêu đề Email"
	- heading = "Yêu cầu đặt lại mật khẩu của bạn"
	- social = true

block email-main
	.e-body
		h1.tt-header=title
		hr
		p !{sitename} đã nhận được yêu cầu đặt lại mật khẩu của bạn với email đã được đăng ký là !{'<b>nguyenvana@demo.com.</b>'}
		p Click vào liên kết bên dưới để đặt lại mật khẩu của bạn.
		p: a(href="https://pixabay.com/vi/photos/echiums-hoa-nh%e1%bb%afng-b%c3%b4ng-hoa-t%c3%adm-6760621/" target="_blank") https://pixabay.com/vi/photos/echiums-hoa-nh%e1%bb%afng-b%c3%b4ng-hoa-t%c3%adm-6760621/
		p Liên kết sẽ hết hạn sau 1 giờ.
		p 
			| Nếu bạn không thực hiện hành động này, vui lòng bỏ qua thư này.
			br
			| Trân trọng!	
		hr
		.small.text-muted.note * Đây là email trả lời tự động, vui lòng không trả lời thư này.
		