block footer
    footer.footer
        .container
            .row
                .footer-col.col-md-3
                    .footer-tt.tt-xs.text-uppercase Thông tin
                    ul.list-style-angle 
                        li: +a('#', '', 'Về chúng tôi')
                        li: +a('#', '', 'Dịch vụ khách hàng')
                        li: +a('#', '', 'Chính sách CTV')
                        li: +a('#', '', 'Sản phẩm bán chạy')
                        li: +a('#', '', 'Liên hệ')
                .footer-col.col-md-3
                    .footer-tt.tt-xs.text-uppercase Chính sách
                    ul.list-style-angle 
                        li: +a('privacy.html', '', 'Hỗ trợ mua hàng')
                        li: +a('privacy.html', '', 'Chính sách bảo hành')
                        li: +a('privacy.html', '', 'Chính sách đổi trả')
                        li: +a('privacy.html', '', 'Phương thức thanh toán')
                        li: +a('privacy.html', '', 'Chương trình ưu đãi')
                .footer-col.col-md-3
                    .footer-tt.tt-xs.text-uppercase Sản phẩm chính
                    ul.list-style-angle 
                        li: +a('#', '', 'Máy đo nồng độ Oxy')
                        li: +a('#', '', 'Kit Test nhanh')
                        li: +a('#', '', 'Máy thở')
                        li: +a('#', '', 'Máy đo huyết áp')
                        li: +a('#', '', 'Máy tạo Oxy')
                .footer-col.col-md-3.col-info
                    .footer-tt.tt-xs.text-uppercase Liên hệ
                    +contact_info()
        .copyr
            .container
                .d-md-flex.justify-content-between.align-items-center
                    .my-3.col-left
                        | © 2021 <b>!{companyName}</b>. All Rights Reserved. 
                    .my-3.col-right.d-flex.align-items-center
                        +list_social()
                        a(href="#" target="_blank" class="ml-2"): img(src="css/skin/thongbao-bct.png" width="110px" alt="")
