article.nav-cates
    .container
        .carousel-cate
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/1.png')
                    span.text.text-capitalize Cồn Y tế
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/2.png')
                    span.text.text-capitalize Kit Test nhanh
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/3.png')
                    span.text.text-capitalize Y tế gia đình
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/4.png')
                    span.text.text-capitalize máy đo nồng độ oxy
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/5.png')
                    span.text.text-capitalize khẩu trang Y tế
            .carousel-cell 
                +a('products.html', 'block d-flex align-items-center',)
                    span.icon: +img('icon/6.png')
                    span.text.text-capitalize các sản phẩm khác
section.home-slider-o
    .home-slider
        .carousel-cell
            .img-slide: +img('slider/slider_01.jpg')
            .container.absolute.d-flex.text-center
                .text-slider
                    .tt-lg Reusable JavaScript UI Component Library
                    .desc Beautiful, modern overlay windows for presenting various types of media
        .carousel-cell
            .img-slide: +img('slider/slider_02.jpg')
            .container.absolute.d-flex.text-right
                .text-slider
                    .tt-lg Where can I Download the Code?
                    .desc Carousel Responsive, touch-friendly carousels with natural, real-life feel
        .carousel-cell
            .img-slide: +img('slider/slider_03.jpg')
            .container.absolute.d-flex
                .text-slider
                    .tt-lg Do Licenses have Features Limitation?
                    .desc Panzoom Easy to use panning and zooming gestures for any HTML content