section.home-slider-o
    .home-slider
        .carousel-cell
            .img-slide: +img('slider/slider_01.jpg')
            .container.absolute.d-flex.text-center
                .text-slider
                    .tt-lg Reusable JavaScript UI Component Library
                    .desc Beautiful, modern overlay windows for presenting various types of media
        .carousel-cell
            .img-slide: +img('slider/slider_02.jpg')
            .container.absolute.d-flex.text-right
                .text-slider
                    .tt-lg Where can I Download the Code?
                    .desc Carousel Responsive, touch-friendly carousels with natural, real-life feel
        .carousel-cell
            .img-slide: +img('slider/slider_03.jpg')
            .container.absolute.d-flex
                .text-slider
                    .tt-lg Do Licenses have Features Limitation?
                    .desc Panzoom Easy to use panning and zooming gestures for any HTML content