block menu
    nav.navigate-dym#navigate
        .menu
            .menu-header
                //- .d-flex.align-items-center.justify-content-between
                //-     if login 
                //-         .d-flex.align-items-center.us 
                //-             .us-avatar.avatar.avatar-sm.rounded-circle N 
                //-             .fw-medium Nguyen Van A
                //-     else 
                //-         +a('login.html', 'btn flex-fill btn-outline-primary mr-2', 'Đăng nhập')
                //-         +a('login.html', 'btn flex-fill btn-primary', 'Đăng ký')
                .menu-header-contact.d-grid 
                    .text-uppercase.fs-13.fw-semibold.mb-2.text-muted Tư vấn và hỗ trợ 24/7
                    +phone_a('mobile')
                        span.icon.fa.fa-mobile-alt
                        +phone_text()
                        |  - Ms A
                    +mail_a()
                        span.icon.fa.fa-envelope
                        +mail_text()
                button.close-menu#close-menu(type="button").fa.fa-times
            .menu-body
                ul.menu-slide
                    li(class=(menu_active=='index' ? 'active' : ''))
                        a(href="index.html" title="" alt="" target="_self")
                            i.far.fa-home
                            | Trang chủ
                    li(class=(menu_active=='about' ? 'active' : ''))
                        a(href="about.html" title="" alt="" target="_self")
                            i.far.fa-user-circle
                            | Giới thiệu
                    li(class=(menu_active=='products' ? 'active' : ''))
                        a(href="products.html" title="" alt="")
                            i.far.fa-shopping-basket
                            | Sản phẩm
                        ul.menu-slide-sub
                            li
                                a(href="events.html" title="" alt="" target="_self") Donec biben miutdiam
                                ul
                                    li: a(href="events.html" title="" alt="" target="_self") Phasellus eget lorem
                                    li: a(href="events.html" title="" alt="" target="_self") Laoreet portt sodales
                                    li: a(href="events.html" title="" alt="" target="_self") Fusce viverra erata
                                    li: a(href="events.html" title="" alt="" target="_self") Nulla accumsan telien
                                    li: a(href="events.html" title="" alt="" target="_self") Donec scelers nisiin
                            li
                                a(href="events.html" title="" alt="" target="_self") Suspendis ultries sapien
                                ul
                                    li: a(href="events.html" title="" alt="" target="_self") Etiam pulvina justo 
                                    li: a(href="events.html" title="" alt="" target="_self") Vtaelecs efficitur
                                    li: a(href="events.html" title="" alt="" target="_self") Cras laoreet odceler
                                    li: a(href="events.html" title="" alt="" target="_self") Curabitur ullamrper
                            li: a(href="events.html" title="" alt="" target="_self") Sitamet sagits pellen
                            li: a(href="events.html" title="" alt="" target="_self") Mauris viverra quam
                            li: a(href="events.html" title="" alt="" target="_self") Donec rutrum commodo
                            li: a(href="events.html" title="" alt="" target="_self") Maecenas sceleue purus
                            li: a(href="events.html" title="" alt="" target="_self") Hendrerit orci volupad
                    li(class=(menu_active=='policy' ? 'active' : ''))
                        a(href="privacy.html" title="" alt="" target="_self")
                            i.far.fa-th-large
                            | Chính sách giá sỉ
                    li(class=(menu_active=='news' ? 'active' : ''))
                        a(href="news.html" title="" alt="" target="_self")
                            i.far.fa-money-check
                            | Chuyên mục sức khỏe
                    li(class=(menu_active=='contact' ? 'active' : ''))
                        a(href="contact.html" title="" alt="" target="_self")
                            i.far.fa-id-card-alt
                            | Liên hệ
            .menu-footer 
                +list_social()