block social
	.icon-stick
		.icon-stick-position
			.group-animation#social-stick
				+list_social('d-flex flex-column')
			.icon-stick-g.d-flex.flex-column
				button.social-stick-toggle.btn.rounded-circle: i.fa.fa-share-alt
				button.btt.btn.rounded-circle.bi.fa.fa-chevron-up