block email-footer
	.e-footer
		.copyright 
			.mb-3 
				img(src="../css/skin/logo-gray.png" alt="" height="40px")
			| Addr: Nhà A3-BT3 KĐT mới Hạ Đình, 214 Nguyễn Xiển, Thanh Xuân, Hà Nội
			br
			| Tel: 08 7779 7779 &nbsp;|&nbsp; Email: funface3d@gmail.com
			br
			| © 2021 !{sitename}. All rights reserved.
		//- if social 
		//- 	table.social
		//- 		tbody 
		//- 			tr 
		//- 				td
		//- 					a(href="#" class="facebook"): img.social-img(src="imgs/facebook.png" alt)
		//- 				td
		//- 					a(href="#" class="twitter"): img.social-img(src="imgs/twitter.png" alt)
		//- 				td
		//- 					a(href="#" class="youtube"): img.social-img(src="imgs/youtube.png" alt)
		//- 				td
		//- 					a(href="#" class="telegram"): img.social-img(src="imgs/telegram.png" alt)
		//- 				td
		//- 					a(href="#" class="instagram"): img.social-img(src="imgs/instagram.png" alt)
		//- 				td
		//- 					a(href="#" class="tiktok"): img.social-img(src="imgs/tiktok.png" alt)