//- mixin products
mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.square 
            +img('products/1.jpg')
        .info 
            .tt=tt
            .text-muted MSP: 1024245
            .price 
                span.price-sale 250.000!{'<u>đ</u>'}
                del.price-origin 550.000!{'<u>đ</u>'}
            
//- product detail
