//- mixin products
mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.tall: +img('products/'+img)(class="fit-cover")
        .info 
            .tt=tt
            .price 
                del.price-origin 550.000!{'<u>đ</u>'}
                span.price-sale 250.000!{'<u>đ</u>'}
                span.saleoff
                    svg.start(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 187.2")
                        g: path(fill="#f69113" d="M11.1-0.4C5-0.4,0,4.6,0,10.7v3.9c9.4,0,17,7.6,17,17s-7.6,17-17,17v7c9.4,0,17,7.6,17,17s-7.6,17-17,17v7c9.4,0,17,7.6,17,17s-7.6,17-17,17v7c9.4,0,17,7.6,17,17s-7.6,17-17,17v4.1c0,6.1,5,11.1,11.1,11.1H26V-0.4H11.1z")
                    span.text 20% off 
                    svg.end(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 187.2")
                        g: path(fill="#f69113" d="M14.9-0.4C21-0.4,26,4.6,26,10.7v3.9c-9.4,0-17,7.6-17,17s7.6,17,17,17v7c-9.4,0-17,7.6-17,17s7.6,17,17,17v7c-9.4,0-17,7.6-17,17s7.6,17,17,17v7c-9.4,0-17,7.6-17,17s7.6,17,17,17v4.1c0,6.1-5,11.1-11.1,11.1H0L0-0.4H14.9z")
            //- .addtocart 
            //-     a.btn-addtocart(role="button")
            //-         span.icon.far.fa-shopping-cart
            //-         | Thêm vào giỏ
            
//- product detail
