//- mixin products
mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.tall: +img('products/'+img)(class="fit-cover")
        .info 
            .tt=tt
            .price 
                del.price-origin 550.000!{'<u>đ</u>'}
                span.price-sale 250.000!{'<u>đ</u>'}
                span.saleoff
                    svg.start(viewBox="0 0 4 16"): path(d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3", fill="#f69113")
                    span.text 20% off 
                    svg.end(viewBox="0 0 4 16"): path(d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3", transform="rotate(180) translate(-3 -15)", fill="#f69113")
            //- .addtocart 
            //-     a.btn-addtocart(role="button")
            //-         span.icon.far.fa-shopping-cart
            //-         | Thêm vào giỏ
            
//- product detail
