//- mixin products
mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.tall: +img('products/'+img)(class="fit-cover")
        .info 
            .tt=tt
            .price 
                span.price-sale 250.000!{'<u>đ</u>'}
                del.price-origin 550.000!{'<u>đ</u>'}
            //- .addtocart 
            //-     a.btn-addtocart(role="button")
            //-         span.icon.far.fa-shopping-cart
            //-         | Thêm vào giỏ
            
//- product detail
