//- mixin news
- news1 = "Làm gì để hạn chế các triệu chứng nguy hiểm ở người nhiễm SARS-CoV-2?"
- news2 = "2 lý do chuyên gia Viện Vệ sinh dịch tễ TW khuyến cáo người đã tiêm vắc xin COVID-19 vẫn phải tuân thủ 5K"
- news3 = "Dinh dưỡng cho người sau tiêm vắc xin phòng COVID-19"
- news4 = "Cảnh báo: Nguy cơ rối loạn tâm thần gia tăng trong đại dịch COVID-19"
- news5 = "Josephine Baker will be the first Black woman buried at the Panthéon in Paris"
- news6 = "US golfer wins first stage of PGA Tour's finale, his first victory in 1,975 days"

- desc1 = "Cần phải làm gì?Để giảm nhẹ các triệu chứng ở người nhiễm SARS-CoV-2, bạn có thể áp dụng một số biện pháp đơn giản, dễ làm và có hiệu quả, an toàn ..."
- desc2 = "Tiêm vắc xin COVID-19 là biện pháp phòng bệnh chủ động rất quan trọng. Tuy nhiên người đã được tiêm vắc xin COVID-19, đặc biệt là những người mới"
- desc3 = "Bổ sung nước cho cơ thểNhu cầu nước hàng ngày: mỗi ngày, người trưởng thành cần khoảng 2.500 ml/ngày, trong đó nước uống bổ sung khoảng 1,2 – 1,4"
- desc4 = "Có nhiều yếu tố tác động khiến bệnh nhân tâm thần gia tăng và trở nên trầm trọng hơn trong đại dịch COVID-19.Theo GS. TS. BS. Cao Tiến Đức - Nguyên"

mixin news-item(img, tt, desc)
    .block 
        +a('news-detail.html', 'absolute')
        .thumb-res.wide: +img('news/'+img)(class="fit-cover")
        .info
            .tt=tt 
            .date Thứ 4, 25/12/2021
            .desc=desc
