//- mixin products
mixin pro-item(img, tt)
    .block 
        +a('product-detail.html', 'absolute',)
        .thumb-res.tall: +img('products/'+img)(class="fit-cover")
        .info 
            .tt=tt
            .price 
                del.price-origin 550.000!{'<u>đ</u>'}
                span.price-sale 250.000!{'<u>đ</u>'}
                span.saleoff 15% giảm