.feedback-section {
    background-color: #f1f3f5;
}
.carousel-feedback {
    &.flickity-resize .carousel-cell {
        min-height: 100%;

        display: flex;
        flex-direction: column;
    }
    .flickity-page-dots {
        display: none;
    }
    --button-size: 34px;
    .flickity-button {
        top: 1rem;
        opacity: .75;
        box-shadow: 0 2px 16px rgba(#000,.1);
        &.previous {
            left: var(--button-position, 8px);
        }
        &.next {
            right: var(--button-position, 8px);
        }
        &:hover {
            opacity: 1;
        }
        &:disabled {
            display: none;
        }
    }
    .carousel-cell {
        margin-right: 2rem;
        opacity: .3;
        width: var(--cell-width, 86%);
        transition: opacity .5s ease;
        &.is-selected {
            opacity: 1;
        }
    }
    .block {
        text-align: center;
    }
    .thumb-avt {
        width: var(--thumb-width, 120px);
        height: var(--thumb-height, 70px);
        flex: 0 0 auto;
        border-radius: 5px;
        border: 1px solid rgba(#000,.075);
        background-color: #fff;
        margin: 0 auto -10px;
        z-index: 5;
        box-shadow: 0 7px 24px -7px rgba(#000,.1);
        img {
            padding: 4px;
        }
    }
    .auth {
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: -1px;
        &:before {
            content: '';
            display: block;
            width: 32px;
            height: 3px;
            background: rgba(#000,.2);
            margin: 0 auto 1.25rem auto;
        }
    }
    .feedback-content {
        padding: 1.25rem;
        border-radius: 12px;
        background: #fff;
        font-size: var(--font-size, 17px);
        overflow: hidden;
        position: relative;
        background: linear-gradient(to bottom, #fff 15%, rgba(#fff,.4));
    }
}
@include media-breakpoint-up(md) {
    .carousel-feedback {
        
        --thumb-width: 165px;
        --thumb-height: 90px;
        --button-size: 44px;
        --button-position: 7%;
        --cell-width: 72%;
        --font-size: 20px;

        .feedback-content {
            padding: 2rem 8%;
        }
        .thumb-avt {
            margin-bottom: -1.125rem;
        }
        .auth {
            font-size: 1.125rem;

        }
        .carousel-cell {
            margin-right: 3rem;
        }
        .flickity-button {
            opacity: 1;
        }
    }
}
@include media-breakpoint-up(lg) {
    .carousel-feedback {
        --button-position: 11%;
        --cell-width: 66%;
    }
}
@include media-breakpoint-up(xl) {
    .carousel-feedback {
        --cell-width: 58%;
    }
}
@include media-breakpoint-up(xxl) {
    .carousel-feedback {
        --cell-width: 50%;
        --font-size: 22px;
        .feedback-content {
            padding: 2.5rem 12%;
        }
    }
}
