.heading-ux {
    position: relative;
    align-items: center;

    &:before {
        content: '';
        @extend %absolute-all;
        margin: auto;
        height: 1px;
        background: #eee;
        z-index: -1;
    }
    > * {
        background: #fff;
    }
    a {
        margin-left: auto;
        padding-left: .75rem;
    }
    #{$tt-all} {
        margin: 0;
        padding: .25rem 1.05rem;
        padding-left: 0;
        position: relative;
        z-index: 1;
        color: #2e4484;
        overflow: hidden;
    }
    .content-detail & {
        &:before {
            top: auto;
        }
        #{$tt-all} {
            margin-bottom: -1px;
            padding: 1.25rem 1rem .5rem;
            background: linear-gradient(to bottom, #f8f8f8, #fff);
            &:after {
                content: '';
                @include absolute(null,0,100%,0);
                height: 3px;
                background: $primary;
                border: none;
            }
        }
    }
}
.text-link-more {
	white-space: nowrap;
	color: $danger;
	#{$fa-all} {
		margin-left: 5px;
		transition: all 0.3s ease;
	}
	&:hover {
		#{$fa-all} {
			margin-left: 8px;
		}
	}
}
// cates
.nav-cates {
	background: #fafafa;
	padding: 1.125rem 0;
}
.carousel-cate {
	.flickity-viewport {
		border: 1px solid #eee;
		border-top: 0;
		border-bottom: 0;
		border-radius: $border-radius;
	}
	--button-size: 30px;
    .carousel-cell {
        width: auto;
        margin-right: 10px;
    }
    .block {
    	border: 1px solid rgba($primary, .3);
    	border-radius: $border-radius;
    	padding: .25rem 1rem .25rem .75rem;
    	background-color: #fff;
    	color: darken($primary, 10%);
    	font-weight: 500;
    	&:hover {
    		box-shadow: 0 3px 12px -3px rgba($secondary, .25);
    	    color: darken($secondary, 10%);
    	}
    }
    .icon {
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        margin-right: .5rem;
        padding: .25rem;
        img {
            max-height: 100%;
        }
    }
    .text {
        white-space: nowrap;
    }
}

// news section
.news-section {
	background-color: #f5f5f5;
	.heading-ux > * {
		background: #f5f5f5;
	}
	.list-news {
		margin-bottom: 2.5rem;
		.block {
			background-color: #fff;
			//border: 1px solid rgba(#000,.1);
			padding: 1.125rem;
		}
	}
}
.list-news {
	.carousel-cell {
		display: flex;
		flex-direction: column;
		.block {
			flex: 1 1 auto;
			transition: box-shadow 0.3s ease;
			&:hover {
				box-shadow: 0 0 35px rgba(#000,.075);
			}
		}
	}
	.block,
	.thumb-res,
	.thumb-res img {
		border-radius: $border-radius;
	}
	&.flickity-resize .carousel-cell {
		min-height: 100%;
	}
	.flickity-page-dots {
		display: none;
	}
}
@include media-breakpoint-up(md) {
	.news-section .list-news {
		--tt: 1.0625rem;
	}
}
@include media-breakpoint-up(lg) {
	.news-section .list-news {
		--tt: 1.125rem;
	}
}