.heading-ux {
    position: relative;
    align-items: center;

    &:before {
        content: '';
        @extend %absolute-all;
        margin: auto;
        height: 1px;
        background: #eee;
        z-index: -1;
    }
    > * {
        background: #fff;
    }
    a {
        margin-left: auto;
        padding-left: .75rem;
    }
    #{$tt-all} {
        margin: 0;
        padding: .25rem 1.05rem;
        padding-left: 0;
        position: relative;
        z-index: 1;
        color: #2e4484;
        overflow: hidden;
    }
    .content-detail & {
        &:before {
            top: auto;
        }
        #{$tt-all} {
            margin-bottom: -1px;
            padding: 1.25rem 1rem .5rem;
            background: linear-gradient(to bottom, #f8f8f8, #fff);
            &:after {
                content: '';
                @include absolute(null,0,100%,0);
                height: 3px;
                background: $primary;
                border: none;
            }
        }
    }
}
.text-link-more {
	white-space: nowrap;
	color: $danger;
	#{$fa-all} {
		margin-left: 5px;
		transition: all 0.3s ease;
	}
	&:hover {
		#{$fa-all} {
			margin-left: 8px;
		}
	}
}
[data-relative] {
	@extend .position-relative;
}
.overlay-over {
	--b-width: 8000px;
	@extend %absolute-all;
    width: var(--b-width);
    z-index: -1;
    margin-left: calc(var(--b-width) * -.5);
	background-color: #f9f9f9;
}
// cates
.nav-cates {
	background: #fafafa;
	padding: 1.125rem 0;
}
.carousel-cate {
	.flickity-viewport {
		border: 1px solid #eee;
		border-top: 0;
		border-bottom: 0;
		border-radius: $border-radius;
	}
	--button-size: 30px;
    .carousel-cell {
        width: auto;
        margin-right: 10px;
    }
    .block {
    	border: 1px solid rgba($primary, .3);
    	border-radius: $border-radius;
    	padding: .25rem 1rem .25rem .75rem;
    	background-color: #fff;
    	color: darken($primary, 10%);
    	font-weight: 500;
    	&:hover {
    		box-shadow: 0 3px 12px -3px rgba($secondary, .25);
    	    color: darken($secondary, 10%);
    	}
    }
    .icon {
        width: 40px;
        height: 40px;
        flex: 0 0 auto;
        margin-right: .5rem;
        padding: .25rem;
        img {
            max-height: 100%;
        }
    }
    .text {
        white-space: nowrap;
    }
}

// news section
.news-section {
	background-color: #fafafa;
	.heading-ux > * {
		background: #fafafa;
	}
	.list-news {
		margin-bottom: 2.5rem;
		.block {
			background-color: #fff;
			//border: 1px solid rgba(#000,.1);
			padding: 1.125rem;
		}
	}
}
.list-news {
	.carousel-cell {
		display: flex;
		flex-direction: column;
		.block {
			flex: 1 1 auto;
			transition: box-shadow 0.3s ease;
			&:hover {
				box-shadow: 0 0 35px rgba(#000,.075);
			}
		}
	}
	.block,
	.thumb-res,
	.thumb-res img {
		border-radius: $border-radius;
	}
	&.flickity-resize .carousel-cell {
		min-height: 100%;
	}
	.flickity-page-dots {
		display: none;
	}
}
@include media-breakpoint-up(md) {
	.news-section .list-news {
		--tt: 1.0625rem;
	}
}
@include media-breakpoint-up(lg) {
	.news-section .list-news {
		--tt: 1.125rem;
	}
}






// home slider v2
.home-screen {
	background: linear-gradient(to bottom, #f2f5f4, #fff);
}
.grid-layout {
	&-left {
		margin: 0 -1rem;
		padding: .75rem 0;
	}
	.tt-cate {
		display: none;
	}
	.carousel-cell {
		margin-right: .75rem;
	}
	.home-slider,
	.home-slider img {
		border-radius: 5px;
	}
}
.cate-outer {
	overflow: hidden;
}
.cate-inner {
	white-space: nowrap;
	margin: 0;
	padding: 0 .75rem;
	margin-bottom: -20px;
	padding-bottom: 20px;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	list-style: none;
	display: flex;

	&-item {
		display: block;
		white-space: nowrap;
		vertical-align: top;
		font-size: var(--font-size-cate, 15px);
		font-weight: 500;
		text-transform: capitalize;
		.d-flex {
			padding: 4px 14px 4px 8px;
			border: 1px solid rgba($primary,.15);
			margin: 0 .25rem;
			background: #fff;
			color: $body-color;
			border-radius: 5px;
		}
		.icon {
			width: 32px;
			height: 32px;
			flex: 0 0 auto;
			margin: 0 8px 0 0;
		}
	}
}
.slide-box {
	text-align: center;
	margin-top: .5rem;

	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap: 8px 2%;

    &-item {
        position: relative;
        &, img, .tt {
        	border-radius: 5px;
        }
        &:hover .tt {
        	background: rgba(#000,.5);
        }
    }
    --tt: 15px;
    .tt {
    	text-transform: uppercase;
    	@include absolute(0,0,0,0);
    	padding: .5rem .75rem;
    	//background: linear-gradient(to top, rgba(#000,.5), rgba(#000,.2));
    	color: #fff;
    	@extend %flex-center;
    	transition: background 0.3s ease;
    	background: rgba(#000,.2);
    	letter-spacing: -.25px;
    }
    .img-bg {
    	width: 100%;
    	height: var(--img-height, 70px);
    }
}
@include media-breakpoint-up(md) {
	.grid-layout {
		background: #fff;
		&-left {
			margin: 0;
		}
	}
	.cate-inner {
		padding-left: 0;
		padding-right: 0;
		&-item {
			margin: 0 .5rem 0 0;
			&:last-child {
				margin-right: 0;
			}
			.d-flex {
				margin: 0;
			}
		}
	}
	.slide-box {
		--tt: 15px;
		--img-height: 90px;
		grid-template-columns: 32% 32% 32%;
		grid-gap: 1rem 2%;
		margin-top: .75rem;

        .tt {
        	padding: .5rem var(--padding-box, 1.5rem);
        }
	}
}
@include media-breakpoint-up(lg) {
	.grid-layout {
		display: flex;
		margin-bottom: 1rem;
		&-left {
			width: 220px;
			flex: 0 0 auto;
			margin: 0;
			padding: 1rem;
			padding-left: 0;
			position: relative;
		}
		&-right {
			flex: 1 1 auto;
		}
		.tt-cate {
			display: block;
			margin-bottom: .75rem;
		}
		.home-slider,
		.home-slider img {
			border-radius: 0 0 5px 5px;
		}
	}
	.cate-outer {
		margin: 0;
		@include absolute(0,0,0,0);
		padding: 1rem 0;
		height: 100%;
		border-right: 1rem solid #fff;
	}
	.cate-inner {
		white-space: normal;
		padding: 0;
		margin: 0;
		text-align: left;
		display: block;
        
        height: 100%;
        margin-right: -30px;
        padding-right: 30px;
        padding-bottom: 1rem;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
        
        --font-size-cate: 1.0625rem;
        
		&-item {
			display: block;
			margin: 0;
			.d-flex {
				border: none;
				padding: .75rem 0;
				border-top: 1px solid #f5f5f5;
				font-weight: 500;
				&:hover {
					color: $danger;
				}
			}
			.icon {
				width: 28px;
				height: 28px;
				margin-right: 1rem;
			}
			.text {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.slide-box {
		--tt: 17px;
	}
}
@include media-breakpoint-up(xl) {
	.grid-layout {
		background: transparent;
		&-left,
		&-right {
			background: #fff;
			padding: 0 1rem;
		}
		&-left {
			width: 270px;
		}
	}
	.cate-outer {
		padding-left: 1.0625rem;
	}
	.slide-box {
		--img-height: 100px;
		--tt: 18px;
		--padding-box: 2rem;
	}
}
@include media-breakpoint-up(xxl) {
	.home-slider {
		--text-max-width: 55%;
	}
	.slide-box {
		--img-height: 115px;
		--padding-box: 1rem;
	}
}