.price {
    font-weight: 600;
    color: #f00;
    line-height: 1.4;

    &-sale {
        margin-right: .375rem;
    }
    &-origin {
        color: #929299;
        font-weight: 400;
        font-size: 90%;
        margin-right: .375rem;
    }
    u, del {
        margin-left: 2px;
    }
    .saleoff {
        position: relative;
        color: #fff;
        background: #f69113;
        font-size: 80%;
        margin: 0 5px;
        padding: 0 1px 1px 0;
        white-space: nowrap;
        svg {
            @include absolute(0,null,0);
            height: calc(100% + 1px);
            &.start {
                right: 100%;
            }
            &.end {
                left: 100%;
            }
        }
    }
}
.heading-ux {
    .form-select,
    .form-control,
    .nice-select {
        padding-top: .25rem;
        padding-bottom: .25rem;
        &:focus {
            box-shadow: none;
        }
    }
}
.list-products {
    .flickity-page-dots {
        display: none;
    }
    .thumb-res,
    .thumb-res img {
        border-radius: $border-radius;
    }
    .tt {
        font-weight: 500;
        @include ellips(2);
        line-height: 1.4;
        //height: floor(15px * 1.4) * 2;
    }
    .price,
    .tt {
        font-size: 15px;
    }
    .btn-addtocart {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        background: rgba($primary,.1);
        color: darken($primary, 10%);
        border-radius: $border-radius;
        font-size: 13px;
        font-weight: 500;
        padding: .375rem .75rem;
        margin: .375rem 0 0;
        .icon {
            margin-right: .5rem;
        }
    }
    .block:hover {
        .tt {
            color: $primary;
        }
    }
}
@include media-breakpoint-up(lg) {
    .list-products {
        --bs-gutter-x: 1.9375rem;
    }
}
@include media-breakpoint-up(xl) {
    .list-products {
        .tt,
        .price {
            font-size: 16px;
        }
    }
}