extends template/template
block vars
    - title = 'Trang chủ'
    - menu_active = 'index'
    - wrapper_class = 'home-page'
    - wrapper_id = 'home-page'
    - home_slider = true
    - banner_top = false
    - banner_image = ''
    - login = false

block mainer
    main.mainer
        .py-5.products-section
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h1.tt-sm.text-uppercase Sản phẩm mới nhất
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('1.jpg', 'Tiêu đề sản phẩm')
                    .carousel-cell: +pro-item('2.jpg', 'Tiêu đề sản phẩm dài thành 2 dòng')
                    .carousel-cell: +pro-item('3.jpg', 'Tiêu đề sản phẩm dài vừa phải')
                    .carousel-cell: +pro-item('4.jpg', 'Tiêu đề sản phẩm cực kỳ dài dòng')
                    .carousel-cell: +pro-item('5.jpg', 'Tiêu đề sản phẩm dài rất dài khoảng ba bốn dòng')
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h1.tt-sm.text-uppercase Sản phẩm bán chạy
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('1.jpg', 'Tiêu đề sản phẩm')
                    .carousel-cell: +pro-item('2.jpg', 'Tiêu đề sản phẩm dài thành 2 dòng')
                    .carousel-cell: +pro-item('3.jpg', 'Tiêu đề sản phẩm dài vừa phải')
                    .carousel-cell: +pro-item('4.jpg', 'Tiêu đề sản phẩm cực kỳ dài dòng')
                    .carousel-cell: +pro-item('5.jpg', 'Tiêu đề sản phẩm dài rất dài khoảng ba bốn dòng')
            .container.mb-5.banner-qc 
                .row.row-cols-1.row-cols-sm-2.gy-3.gx-4
                    .cols
                        a.block(href="#"): +img('theme/banner-a.jpg')
                    .cols
                        a.block(href="#"): +img('theme/banner-b.jpg')
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h1.tt-sm.text-uppercase Sản phẩm hot nhất
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('1.jpg', 'Tiêu đề sản phẩm')
                    .carousel-cell: +pro-item('2.jpg', 'Tiêu đề sản phẩm dài thành 2 dòng')
                    .carousel-cell: +pro-item('3.jpg', 'Tiêu đề sản phẩm dài vừa phải')
                    .carousel-cell: +pro-item('4.jpg', 'Tiêu đề sản phẩm cực kỳ dài dòng')
                    .carousel-cell: +pro-item('5.jpg', 'Tiêu đề sản phẩm dài rất dài khoảng ba bốn dòng')
        
        .block-bg.about-section.py-5.py-xl-6
            .container 
                .heading-ux.d-flex.mb-3
                    .tt-md.text-uppercase.text-primary Danh sách bài viết
                    +a('news.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right

                .carousel-c2md3
                    .carousel-cell
                        .block 
                            .thumb-res.wide
                                +bg('absolute', 'news/1.jpg')
                            .info 
                                .tt-xs Trò chơi dân gian không đơn thuần là những trò vui tiêu khiển.
                                .desc Với người Việt, thả diều hàm chứa ý nghĩa tâm linh, khát vọng về tự do, no ấm và cầu mong may mắn
                    .carousel-cell
                        .block 
                            .thumb-res.wide
                                +bg('absolute', 'news/1.jpg')
                            .info 
                                .tt-xs Trò chơi dân gian không đơn thuần là những trò vui tiêu khiển.
                                .desc Với người Việt, thả diều hàm chứa ý nghĩa tâm linh, khát vọng về tự do, no ấm và cầu mong may mắn
                    .carousel-cell
                        .block 
                            .thumb-res.wide
                                +bg('absolute', 'news/1.jpg')
                            .info 
                                .tt-xs Trò chơi dân gian không đơn thuần là những trò vui tiêu khiển.
                                .desc Với người Việt, thả diều hàm chứa ý nghĩa tâm linh, khát vọng về tự do, no ấm và cầu mong may mắn
                    .carousel-cell
                        .block 
                            .thumb-res.wide
                                +bg('absolute', 'news/1.jpg')
                            .info 
                                .tt-xs Trò chơi dân gian không đơn thuần là những trò vui tiêu khiển.
                                .desc Với người Việt, thả diều hàm chứa ý nghĩa tâm linh, khát vọng về tự do, no ấm và cầu mong may mắn
