extends template/template
block vars
    - title = 'Trang chủ'
    - menu_active = 'index'
    - wrapper_class = 'home-page'
    - wrapper_id = 'home-page'
    - home_slider = true
    - banner_top = false
    - banner_image = ''
    - login = false

block mainer
    main.mainer
        .py-5.products-section
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h1.tt-sm.text-uppercase CỒN Y TẾ - ETHANOL
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('1.jpg', 'Cồn Y Tế Sát Khuẩn Chanh Sả 100ml')
                    .carousel-cell: +pro-item('2.jpg', 'Cốn Y Tế Ethanol 5 Lít 70 Độ')
                    .carousel-cell: +pro-item('3.jpg', 'Cồn Y Tế ETHANOL 500ML 90 độ')
                    .carousel-cell: +pro-item('4.jpg', 'Nước Muối Natri Cloride 0,9% 500ML')
                    .carousel-cell: +pro-item('5.jpg', 'Cồn Y Tế Sát Khuẩn 30 Lít 70 Độ')
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h2.tt-sm.text-uppercase KHẨU TRANG Y TẾ
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('6.jpg', 'Cồn Y Tế Sát Khuẩn Chanh Sả 100ml')
                    .carousel-cell: +pro-item('7.jpg', 'Cốn Y Tế Ethanol 5 Lít 70 Độ')
                    .carousel-cell: +pro-item('8.jpg', 'Cồn Y Tế ETHANOL 500ML 90 độ')
                    .carousel-cell: +pro-item('9.jpg', 'Nước Muối Natri Cloride 0,9% 500ML')
                    .carousel-cell: +pro-item('10.jpg', 'Cồn Y Tế Sát Khuẩn 30 Lít 70 Độ')
            .container.mb-5.banner-qc 
                .row.row-cols-1.row-cols-sm-2.gy-3.gx-4
                    .cols
                        a.block(href="#"): +img('theme/banner-a.jpg')
                    .cols
                        a.block(href="#"): +img('theme/banner-b.jpg')
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h2.tt-sm.text-uppercase KIT TEST NHANH
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('1.jpg', 'Cồn Y Tế Sát Khuẩn Chanh Sả 100ml')
                    .carousel-cell: +pro-item('2.jpg', 'Cốn Y Tế Ethanol 5 Lít 70 Độ')
                    .carousel-cell: +pro-item('3.jpg', 'Cồn Y Tế ETHANOL 500ML 90 độ')
                    .carousel-cell: +pro-item('4.jpg', 'Nước Muối Natri Cloride 0,9% 500ML')
                    .carousel-cell: +pro-item('5.jpg', 'Cồn Y Tế Sát Khuẩn 30 Lít 70 Độ')
            .container.mb-5
                .heading-ux.d-flex.mb-3
                    h3.tt-sm.text-uppercase Sản phẩm khác
                    +a('products.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c2md4.list-products
                    .carousel-cell: +pro-item('6.jpg', 'Cồn Y Tế Sát Khuẩn Chanh Sả 100ml')
                    .carousel-cell: +pro-item('7.jpg', 'Cốn Y Tế Ethanol 5 Lít 70 Độ')
                    .carousel-cell: +pro-item('8.jpg', 'Cồn Y Tế ETHANOL 500ML 90 độ')
                    .carousel-cell: +pro-item('9.jpg', 'Nước Muối Natri Cloride 0,9% 500ML')
                    .carousel-cell: +pro-item('10.jpg', 'Cồn Y Tế Sát Khuẩn 30 Lít 70 Độ')
        .block-bg.news-section.py-5
            .container 
                .heading-ux.d-flex.mb-3
                    h4.tt-sm.text-uppercase Bài viết mới nhất
                    +a('news.html', 'text-link-more text-decoration-none')
                        | Xem thêm
                        i.far.fa-chevron-right
                .carousel-c1md3.list-news
                    .carousel-cell
                        +news-item('1.jpg', 'Làm gì để hạn chế các triệu chứng nguy hiểm ở người nhiễm SARS-CoV-2?', 'Cần phải làm gì?Để giảm nhẹ các triệu chứng ở người nhiễm SARS-CoV-2, bạn có thể áp dụng một số biện pháp đơn giản, dễ làm và có hiệu quả, an toàn ...')
                    .carousel-cell
                        +news-item('2.jpg', '2 lý do chuyên gia Viện Vệ sinh dịch tễ TW khuyến cáo người đã tiêm vắc xin COVID-19 vẫn phải tuân thủ 5K', 'Tiêm vắc xin COVID-19 là biện pháp phòng bệnh chủ động rất quan trọng. Tuy nhiên người đã được tiêm vắc xin COVID-19, đặc biệt là những người mới')
                    .carousel-cell
                        +news-item('3.jpg', 'Dinh dưỡng cho người sau tiêm vắc xin phòng COVID-19', 'Bổ sung nước cho cơ thểNhu cầu nước hàng ngày: mỗi ngày, người trưởng thành cần khoảng 2.500 ml/ngày, trong đó nước uống bổ sung khoảng 1,2 – 1,4')
                    .carousel-cell
                        +news-item('4.jpg', 'Cảnh báo: Nguy cơ rối loạn tâm thần gia tăng trong đại dịch COVID-19', 'Có nhiều yếu tố tác động khiến bệnh nhân tâm thần gia tăng và trở nên trầm trọng hơn trong đại dịch COVID-19.Theo GS. TS. BS. Cao Tiến Đức - Nguyên')
