.banner-lg {
    --banner-height: 100px;
    --banner-color: $dark;
    
    position: relative;
    z-index: 11;
    background-color: #94dfe4;

    .container {
        min-height: var(--banner-height);
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-banner {
        text-align: center;
    }
    #{$tt-all} {
        color: var(--banner-color);
        margin-bottom: 0;
    }
}
.breadcrumb {
    justify-content: center;
    color: var(--banner-color);
    li {
        margin: 0;
    }
    .active, a {
        color: inherit;
        &:hover {
            color: var(--banner-color);
        }
    }
}
@include media-breakpoint-up(md) {
    .banner-lg {
        --banner-height: 130px;
    }
}
@include media-breakpoint-up(lg) {
    
}
@include media-breakpoint-up(xl) {
    .banner-lg {
        --banner-height: 160px;
        --tt-md: 30px;
    }
}