@mixin a-hover-underline($color) {
    position: relative;
    display: inline-block;
    vertical-align: top;
    &:after {
        content: '';
        height: 1px;
        @include absolute(null,0,0);
        background: $color;
        width: 0;
        transition: width 0.4s ease;
    }
    &:hover {
        color: $color;
        &:after {
            width: 100%;
            left: 0;
        }
    }
}
.p-icon,
.picon {
    margin-bottom: 10px;
    line-height: 1.4;
    position: relative;
    padding-left: 26px;
    #{$fa-all} {
        position: absolute;
        left: 0;
        top: 3px;
        opacity: .7;
    }
    a {
        color: inherit;
        &:hover {
            color: $primary;
        }
    }
}
.list-style-angle {
    &, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        @include a-hover-underline($primary);
        margin-bottom: 6px;
        color: inherit;        
        #{$fa-all} {
            margin: 2px 8px 0 2px;
            opacity: .8;
        }
    }
}
// Footer
.footer {
    $footer-background: #ecf8f8;
    $footer-color: #4d4f67;
    $tt-color: darken($secondary, 25%);
    --footer-font-size: 15px;
    
    &-outside {
        margin-top: 1.5rem;
    }
    // border-radius: 1.5rem 1.5rem 0 0;
    margin-top: -1.5rem;
    border-top: 1px solid rgba($primary, .5);
    background-color: $footer-background;
    color: $footer-color;
    font-size: var(--footer-font-size);
    position: relative;
    z-index: 1;
    padding-top: 2rem;
    &-tt {
        color: $tt-color;
        margin: 0;
        padding: .9375rem 0;
        border-bottom: 1px solid rgba(#000,.1);
        position: relative;
        &:after {
            content: '\f107';
            font-family: 'font awesome 5 pro';
            @include absolute(0,0,0);
            font-weight: 400;
            display: flex;
            align-items: center;
            opacity: .5;
        }
    }
    .list-style-angle {
        display: none;
        transform: translateY(-1rem);
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.4s ease-out;
    }
    &-col {

    }
    &-col.active {
        .list-style-angle {
            display: block;
            transform: none;
            opacity: 1;
            margin-bottom: 1rem;
        }
        .footer-tt {
            border-color: transparent;
            &:after {
                content: '\f106';
            }
        }
    }
    .col-info .footer-tt {
        border: none;
        &:after {
            display: none;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .copy, .copyr {
        padding: 1px 0;
        position: relative;
        border-top: 1px solid rgba(#000,.1);
        margin-top: 1.5rem;
    }
}
@include media-breakpoint-up(md) {
    .footer {
        padding-top: 0;
        &-tt {
            border: none;
            padding: 0 !important;
            margin-bottom: 1.25rem;
            &:after {
                display: none;
            }
        }
        .list-style-angle {
            display: block;
            opacity: 1;
            transform: none;
            margin: 0 !important;
        }
        &-col {
            width: 50%;
            margin-top: 2rem;
        }
        .copy, .copyr {
            .col-left,
            .col-right {
                max-width: 70%;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .footer {
        &-col {
            width: 22%;
            &.col-info {
                width: 34%;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    .footer {
        &-col {
            margin-top: 48px;
        }
    }
}
