#menu-toggle,
.btn-menu {
	@extend %flex-center;
	line-height: 1.3;
	border: none;
	color: $body-color;
	font-size: 20px;
	font-weight: 400;
	border-radius: 20px;
	padding: .5rem .75rem;
	margin: 0 -.5rem 0 .5rem;
	b {
		font-family: $font-family;
		font-size: 13px;
		font-weight: 400;
		margin-left: 6px;
		opacity: .9;
		display: none;
	}
	&:hover,
	&:focus {
		color: darken($primary, 10%);
	}
}
// Logo
.logo {
	--logo-width: 100px;
    width: var(--logo-width);
    flex: 0 0 auto;
    height: calc(76 / 240 * 100%);
    position: relative;
    margin: .75rem 0;

    img {
    	max-height: 100%;
    	margin: auto 0;
    }
}
// header
.header {
	position: relative;
	z-index: 678;
	width: 100%;
	top: 0;
	background: #fff;
	box-shadow: 0 2px 10px rgba(#000, .1);

	&-anchor {
		height: 0;
	}
	.container-fluid.d-flex {
		align-items: center;
	}
	a {
		text-decoration: none !important;
	}
	&.stick {
		position: fixed;
	}
}
.header-right {
	margin-left: auto;
	&-item {
		margin-left: var(--margin-item, .75rem);
	}
	.icon {
		@extend %flex-center;
		width: var(--icon-size, 40px);
		height: var(--icon-size, 40px);
		border: none;
		font-size: 20px;
        border-radius: 50%;
        background: rgba(#eee,.1);
        color: $body-color;
	}
	.text {
		display: none;
	}
	.b {
		color: $danger;
		margin-top: 1px;
		display: block;
	}
    
    .hotline,
	.dropdown-user {
		display: none;
	}
}
.dropdown-user {
    --dd-menu-width: 200px;
    @include dd-menu(center, 0);
}
.dropdown-cart {
	--dd-menu-width: 275px;
	--tt: 15px;
	@include dd-menu(right, 12px);
	.icon {
		overflow: visible;
	}
	.badge {
		@include absolute(-5px,null,null,20px);
		background: #80ff85;
		color: #050507;
		border-radius: 20px;
		padding: 3px 6px;
	}
	.text-note {
		font-weight: 500;
		text-align: center;
	}
	.text-note,
	.drop-item {
        padding: 10px 16px;
	}
	.thumb-res {
		width: 60px;
		flex: 0 0 auto;
		margin: 0 10px 0 0;
	}
	img {
		margin: 0;
	}
	.tt {
		display: block;
		font-weight: 500;
		@include ellips(2);
		margin-bottom: 5px;
	}
	.price {
		&-sale {
			font-weight: bold;
			color: #c00;
			margin-right: 5px;
		}
		&-origin {
			color: #777;
			font-size: 90%;
		}
	}
	.drop-item {
		position: relative;
		font-size: 14px;
		padding-right: 24px;
		border-top: 1px solid rgba(#000,.1);
		.d-grid {
			margin-right: 16px - 24px;
		}
	}
	.trash.text-danger {
		@include absolute(0,0,0);
		z-index: 111;
		display: flex;
		align-items: center;
		padding: 4px;
	}
	.drop-item:hover .trash.text-danger {
		background: rgba($danger,.05);
		&:hover {
			background: $danger;
			color: #fff !important;
		}
	}
}
@include media-breakpoint-up(md) {
	.header {
		.container-fluid {
			padding: 0 20px;
		}
		.form-search {
			padding-left: 15vw;
			padding-right: 15vw;
		}
	}
	.logo {
		--logo-width: 110px;
		--logo-margin: 10px 0;
	}
	.header-right {
		--margin-item: 24px;
		.icon {
			--icon-size: 38px;
			background: rgba(#000, .05);
		}
		.text {
			display: block;
		}
		.hotline,
		.dropdown-language,
		.dropdown-user {
			display: block;
		}
	}
}
@include media-breakpoint-up(lg) {
	.logo {
		--logo-width: 120px;
	}
	.header {
		&-anchor {
			display: none;
		}
		&.stick {
			position: relative;
		}
	}
	.header-right {
		--margin-item: 32px;
		.dropdown-user {
			display: block;
		}
	}
}
@include media-breakpoint-up(xl) {
	.header {
		--header-container: #{map-get($container-max-widths, "xl")};
		.container-fluid {
			max-width: var(--header-container);
			padding: 0 $grid-gutter-width / 2;
		}
	}
	.header-right {
		.form-search {
			@include form-search-static(320px, #fff, 1px solid #c7c7db, 6px);
		}
		&-item.search-item {
			display: none !important;
		}
	}
}
@include media-breakpoint-up(xxl) {
	.header {
		--header-container: #{map-get($container-max-widths, "xxl")};
	}
}